@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    Сантк-Петербург, Петергоф<br />
    Санкт-Петрбургский пр. 43, 198510<br /><br />
    <abbr title="Phone">Телефон:</abbr><br />
    <strong>Директор:</strong> (812) 450-69-07<br /><br />
    <strong>Бухгалтерия:</strong> (812) 450-66-45<br /><br />
    <strong>Учебная часть:</strong> (812) 450-61-88<br /><br />
</address>

<address>
    <strong>Электронный адрес:</strong>   <a href="mailto:school415@yandex.ru">school415@yandex.ru</a><br />
 
</address>