@{
    ViewBag.Title = "Главная";
}
<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
</style>


    <h2>Петергофская гимназия императора АлександраII</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/Images/school1.jpg" alt="school1" style="width:auto;height:400px;">
            </div>

            <div class="item">
                <img src="/Images/school2.jpg" alt="school2" style="width:auto;height:400px;">
            </div>

            <div class="item">
                <img src="/Images/school3.jpg" alt="school3" style="width:auto;height:400px;">
            </div>
           
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


<div class="row">
    <div class="col-md-12">
        <h2>Описание сайта</h2>
        <p>
           На этом сайте вы сможете: написать, что вас устраивает или неустраивает в нашей школе, свои предложения об улучшении школы, о том что произошло и так далее. Для нас ваше мнение очень важно и мы постараемся сделать все необходимое, чтобы улучшить нащу гиназию. 
        </p>
       
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Краткая история гимназии</h2>
        <p> В начале марта 1880 года газета «Кронштадский Вестник» coобщила своим читателям: «21 февраля, в Петергофе, состоялся торжественный акт открытия мужской прогимназии».</p>

   <p> Строительство новой школы в Петергофе началось по прошению жителей, под которым подписался 91 человек. Прошение было подано на имя начальника петергофского дворцового правления генерал-майора Михаила Григорьевича Евреинова. До появления прогимназии в Петергофе не существовало учебного заведения, которое могло бы обучать большое количество детей и по приемлемым по тем временам меркам.</p>

   <p> 5 января 1879 года было получено разрешение на размещение прогимназии в здании мастерских ведомства Петергофского Дворцового Правления. Здание мастерских было перестроено в основном на деньги, пожертвованные жителями Петергофа и его окрестностей. Все перепланировочные работы проходили под руководством архитектора Э. Л. Гана.</p>

    <p>Петергофские жители, хотя и добивались открытия прогимназии, но ясно понимали её недостаток — она не давала среднего образования, позволявшего поступать в высшие учебные заведения, что и явилось причиной ходатайства о преобразовании ее в гимназию уже с 1881 года. Вскоре необходимость преобразования прогимназии в гимназию стала явной и была создана комиссия по изысканию средств на преобразование, которых требовалось 56000 тысяч рублей. Данные средства были изысканы, и 14 июня 1903 года в два часа тридцать минут, в присутствии императора Николая II, императрицы Александры Фёдоровны, многочисленной свиты, при большом стечении гостей и петергофских жителей состоялась закладка нового здания гимназии. Строительство проходило под чутким руководством архитектора А. Н. Иосса. Председателем строительной комиссии состоял почётный гражданин Петергофа, сенатор, действительный тайный советник Смирнов.</p>

    <p>В новом здании также предусматривались жилые помещения для обслуживающего персонала, но дым и чад из них мешал учебному процессу, и Н. Я. Шубин 12 июня 1904 года предложил их вынести во двор, для чего по проекту архитектора А. К. Миняева был построен для них дом рядом с мастерскими дворцового правления. Строительство и отделка гимназии велись до конца лета 1904 года и 5 сентября состоялось довольно скромное, из-за войны России с Японией, торжество освящения перестроенного здания.</p>

    <p>К этому году в гимназии обучалось 195 воспитанников. К следующему учебному году это число составило 254 воспитанника. 16 августа 1905 года состоялось торжественное открытие нового учебного года с 7-м классом, при этом число гимназистов достигло 350 человек. Количество учащихся петергофской мужской гимназии год от года росло. Так, по сведениям ее директора, на 21 февраля 1912 года в ней обучалось 527 учеников.</p>

    <p>После великой Октябрьской революции, с осени 1919 года, в здании бывшей мужской гимназии открылась «2-я советская школа», переименованная вскоре в «Петергофскую школу имени Веденеева» в честь одного из бывших ее учеников. И началась советская часть ее истории.</p>

     <p>С 1993 года одной из первых в стране средняя школа, пройдя процедуру аттестации, школа вновь стала гимназией. А в 2010 году она отметила свое стотридцатилетие.

</p>
    </div>
</div>